<div class="page-wrap">
  <div class="container hero container-narrow">
    <div class="card card-cinema shadow-sm p-4">
      <h2 class="mb-3 text-white">New list</h2>

      <%= simple_form_for(@list, html: { multipart: true }) do |f| %>
        <%= f.input :name,
              label: "List name",
              input_html: { class: "form-control" } %>

        <%= f.input :photo,
              as: :file,
              label: "Cover image",
              input_html: { class: "form-control" } %>

        <div class="d-flex gap-2 mt-4">
          <%= f.button :submit, "Create list", class: "btn btn-light fw-semibold" %>
          <%= link_to "Cancel", lists_path, class: "btn btn-outline-light" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
